@using DummyRoster.Common.EntityModel.Models
@model IEnumerable<Address>

<h2>@ViewData["Title"]</h2>

<div class="table-responsive-lg">
  <table class="table table-bordered table-info table-striped-columns">
    <caption>@ViewData["Title"] registered in the management system</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Civic</th>
        <th scope="col">City</th>
        <th scope="col">District</th>
        <th scope="col">Postcode</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      @if (Model is not null)
      {
        @foreach (Address item in Model)
        {
          <tr>
            <th scope="row">
              @Html.DisplayFor(
          modelItem => item.Id
          )
            </th>
            <td>
              @Html.DisplayFor(
          modelItem => item.Name
          )
            </td>
            <td>
              @Html.DisplayFor(
          modelItem => item.Civic
          )
            </td>
            <td>
              @Html.DisplayFor(
          modelItem => item.City
          )
            </td>
            <td>
              @Html.DisplayFor(
          modelItem => item.District
          )
            </td>
            <td>
              @Html.DisplayFor(
          modelItem => item.Postcode
          )
            </td>
            <td>
              @Html.DisplayFor(
          modelItem => item.Country
          )
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
