@using DummyRoster.Common.EntityModel.Models
@model IEnumerable<Credential>

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-info table-striped-columns">
  <caption>@ViewData["Title"] registered in the management</caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Fax</th>
    </tr>
  </thead>
  <tbody>
    @if (Model is not null)
    {
      @foreach (Credential item in Model)
      {
        <tr>
          <th scope="row">
            @Html.DisplayFor(
              modelItem => item.Id
            )
          </th>
          <td>
            @Html.DisplayFor(
              modelItem => item.Email
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Phone
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Fax
            )
          </td>
        </tr>
      }
    }
  </tbody>
</table>
