@using DummyRoster.Common.EntityModel.Models
@model IEnumerable<Employee>

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-info table-striped-columns">
  <caption>@ViewData["Title"] registered in the management</caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Description</th>
      <th scope="col">Role</th>
      <th scope="col">Belonging</th>
    </tr>
  </thead>
  <tbody>
    @if (Model is not null)
    {
      @foreach (Employee item in Model)
      {
        <tr>
          <th scope="row">
            @Html.DisplayFor(
              modelItem => item.Id
            )
          </th>
          <td>
            @Html.DisplayFor(
              modelItem => item.Name
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.BirthDate
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Description
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Role
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Belonging
            )
          </td>
        </tr>
      }
    }
  </tbody>
</table>
