@using DummyRoster.Common.EntityModel.Models
@model IEnumerable<Product>

<h2>@ViewData["Title"]</h2>

<table>
  <caption>@ViewData["Title"] registered in the management</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category Id</th>
      <th>Supplier Id</th>
    </tr>
  </thead>
  <tbody>
    @if (Model is not null)
    {
      @foreach (Product item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(
              modelItem => item.Id
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Name
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.Description
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.CategoryId
            )
          </td>
          <td>
            @Html.DisplayFor(
              modelItem => item.SupplierId
            )
          </td>
        </tr>
      }
    }
  </tbody>
</table>
