@page
@using DummyRoster.Common.EntityModel.Models
@model DummyRoster.Web.Pages.CarrierModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container p-3">

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">@ViewData["Title"]</h2>
    </div>

    <div class="card-body">
      <div class="accordion accordion-flush" id="accordionFlushForCarriers">
        @if (Model.carriers is not null)
        {
          @foreach (Carrier item in Model.carriers)
          {
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse-@(item.Id)" aria-expanded="false"
                  aria-controls="flush-collapse-@(item.Id)">
                  @item.Name
                </button>
              </h2>
              <div id="flush-collapse-@(item.Id)" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushForCarriers">
                <div class="accordion-body">
                  <table class="table">
                    <caption>Details about the Carrier</caption>
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>@item.Name</td>
                        <td>@item.Country</td>
                        <td>@item.Email</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th scope="row">Carrier ID: </th>
                        <td>@item.Id</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>

  </div>

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">new carrier</h2>
    </div>

    <div class="card-body">
      <form method="post">
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="carrierName" class="col-form-label">Name</label>
          </div>
          <div class="">
            <input asp-for="carrier.Name" type="text" id="carrierName" class="form-control"
              aria-describedby="carrierNameHelpInline" required minlength="1" maxlength="32" size="32">
          </div>
          <div class="">
            <span id="carrierNameHelpInline" class="form-text">
              Alphabetical characters only, typing in a maximum of thirty-two.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="carrierCountry" class="col-form-label">Country</label>
          </div>
          <div class="">
            <input asp-for="carrier.Country" type="text" id="carrierCountry" class="form-control"
              aria-describedby="carrierCountryHelpInline" minlength="3" maxlength="16" size="16">
          </div>
          <div class="">
            <span id="carrierCountryHelpInline" class="form-text">
              Alphabetical characters only, in addition to the dash, typing in a minimum of three and a maximum of
              sixteen.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="carrierEmail" class="col-form-label">Email</label>
          </div>
          <div class="">
            <input asp-for="carrier.Email" type="email" id="carrierEmail" class="form-control"
              aria-describedby="carrierEmailHelpInline" maxlength="48" size="48">
          </div>
          <div class="">
            <span id="carrierEmailHelpInline" class="form-text">
              A maximum of forty-seven alphanumeric characters plus the at character are allowed.
            </span>
          </div>
        </div>
        <div class="align-items-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

  </div>

</div>
