@page
@using DummyRoster.Common.EntityModel.Models
@model DummyRoster.Web.Pages.FormModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container p-3">

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">@ViewData["Title"]</h2>
    </div>

    <div class="card-body">
      <div class="accordion accordion-flush" id="accordionFlushForForms">
        @if (Model.forms is not null)
        {
          @foreach (Form item in Model.forms)
          {
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse-@(item.Id)" aria-expanded="false"
                  aria-controls="flush-collapse-@(item.Id)">
                  @item.Description
                </button>
              </h2>
              <div id="flush-collapse-@(item.Id)" class="accordion-collapse collapse" 
                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushForForms">
                <div class="accordion-body">
                  <table class="table">
                    <caption>Details about the Form</caption>
                    <thead>
                      <tr>
                        <th scope="col">Required Date</th>
                        <th scope="col">Promised Date</th>
                        <th scope="col">Registration Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>@item.RequiredDate</td>
                        <td>@item.PromisedDate</td>
                        <td>@item.Description</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th scope="row">Form ID: </th>
                        <td>@item.Id</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>

  </div>

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">new form</h2>
    </div>

    <div class="card-body">
      <form method="post">
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="formDescription" class="col-form-label">Description</label>
          </div>
          <div class="">
            <input asp-for="form.Description" type="text" id="formDescription" class="form-control"
              aria-describedby="formDescriptionHelpInline" minlength="2" maxlength="64" size="64">>
          </div>
          <div class="">
            <span id="formDescriptionHelpInline" class="form-text">
              Up to sixty-four characters are allowed.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="formRequiredDate" class="col-form-label">Required Date</label>
          </div>
          <div class="">
            <input asp-for="form.RequiredDate" type="date" id="formRequiredDate" class="form-control"
              aria-describedby="formRequiredDateHelpInline">
          </div>
          <div class="">
            <span id="formRequiredDateHelpInline" class="form-text">
              Please enter a valid date.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="formPromisedDate" class="col-form-label">Promised Date</label>
          </div>
          <div class="">
            <input asp-for="form.PromisedDate" type="date" id="formPromisedDate" class="form-control"
              aria-describedby="formPromisedDateHelpInline">
          </div>
          <div class="">
            <span id="formPromisedDateHelpInline" class="form-text">
              Please enter a valid date.
            </span>
          </div>
        </div>
        <div class="align-items-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

  </div>

</div>
