@page
@using DummyRoster.Common.DataContext.Data
@inject DummyRosterContext dummyRosterContext
@{

  ViewData["Title"] = "DummyRoster";
  string title = "Gathering";
}

<div class="container p-3">

  <h2 class="display-5">@title</h2>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Employees</h2>
    </div>
    <div class="card-body">
      <p>Number of employees registered in the system: @dummyRosterContext.Employees.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Customers</h2>
    </div>
    <div class="card-body">
      <p>Number of customers registered in the system: @dummyRosterContext.Customers.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Suppliers</h2>
    </div>
    <div class="card-body">
      <p>Number of suppliers registered in the system: @dummyRosterContext.Suppliers.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Carriers</h2>
    </div>
    <div class="card-body">
      <p>Number of carriers registered in the system: @dummyRosterContext.Carriers.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Categories</h2>
    </div>
    <div class="card-body">
      <p>Number of categories registered in the system: @dummyRosterContext.Categories.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Products</h2>
    </div>
    <div class="card-body">
      <p>Number of products registered in the system: @dummyRosterContext.Products.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Forms</h2>
    </div>
    <div class="card-body">
      <p>Number of forms registered in the system: @dummyRosterContext.Forms.Count()</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h2 class="display-6">Invoices</h2>
    </div>
    <div class="card-body">
      <p>Number of invoices registered in the system: @dummyRosterContext.Invoices.Count()</p>
    </div>
  </div>

</div>
