@page
@using DummyRoster.Common.EntityModel.Models
@model DummyRoster.Web.Pages.InvoiceModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  int i = 0;
}

<div class="container p-3">

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">@ViewData["Title"]</h2>
    </div>

    <div class="card-body">
      <div class="accordion accordion-flush" id="accordionFlushForInvoices">
        @if (Model.Invoices is not null)
        {
          @foreach (Invoice item in Model.Invoices)
          {
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse-@(i)" aria-expanded="false" aria-controls="flush-collapse-@(i)">
                  referring to the form: @item.FormId
                </button>
              </h2>
              <div id="flush-collapse-@(i++)" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushForInvoices">
                <div class="accordion-body">
                  <table class="table">
                    <caption>Details about the Invoice</caption>
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Registration Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>@item.Product</td>
                        <td>@item.Quantity</td>
                        <td>@item.RegistrationDate</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th scope="row">referring to the form, identification number: </th>
                        <td>@item.FormId</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>

  </div>

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">new invoice</h2>
    </div>

    <div class="card-body">
      <form method="post">
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="invoiceNote" class="col-form-label">Note</label>
          </div>
          <div class="">
            <input asp-for="Invoice.Note" type="text" id="invoiceNote" class="form-control"
              aria-describedby="invoiceNoteHelpInline" required minlength="2" maxlength="64" size="64">
          </div>
          <div class="">
            <span id="invoiceNoteHelpInline" class="form-text">
              Up to sixty-four characters are allowed.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="invoiceUnitPrice" class="col-form-label">Unit Price</label>
          </div>
          <div class="">
            <input asp-for="Invoice.UnitPrice" type="number" id="invoiceUnitPrice" class="form-control"
              aria-describedby="invoiceUnitPriceHelpInline">
          </div>
          <div class="">
            <span id="invoiceUnitPriceHelpInline" class="form-text">
              Only numerical values ​​are allowed.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="invoiceQuantity" class="col-form-label">Quantity</label>
          </div>
          <div class="">
            <input asp-for="Invoice.Quantity" type="number" id="invoiceQuantity" class="form-control"
              aria-describedby="invoiceQuantityHelpInline">
          </div>
          <div class="">
            <span id="invoiceQuantityHelpInline" class="form-text">
              Only numerical values ​​are allowed.
            </span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="">
            <label for="invoicePriceCut" class="col-form-label">Price Cut</label>
          </div>
          <div class="">
            <input asp-for="Invoice.PriceCut" type="number" id="invoicePriceCut" class="form-control"
              aria-describedby="invoicePriceCutHelpInline">
          </div>
          <div class="">
            <span id="invoicePriceCutHelpInline" class="form-text">
              Only numerical values ​​are allowed.
            </span>
          </div>
        </div>
        <div class="align-items-center">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

  </div>

</div>
