@{
    ViewData["Title"] = "Liking - Report";
}
@model Liking.Common.Models.ReportModel

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
    <h1 class="uk-heading-large uk-heading-divider">@ViewData["Title"]</h1>
</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title uk-margin-large-bottom">Processing report.</h3>
    <table class="uk-table uk-table-striped">
      <caption>metrics of report</caption>
      <thead>
        <tr>
            <th>Metrics</th>
            <th>Values</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Accuracy</td>
        <td>@Model.Accuracy</td>
      </tr>
      <tr>
        <td>Area Under Roc Curve</td>
        <td>@Model.AreaUnderRocCurve</td>
      </tr>
      <tr>
        <td>Area Under Precision Recall Curve</td>
        <td>@Model.AreaUnderPrecisionRecallCurve</td>
      </tr>
      <tr>
        <td>F1 Score</td>
        <td>@Model.F1Score</td>
      </tr>
      <tr>
        <td>Log Loss</td>
        <td>@Model.LogLoss</td>
      </tr>
      <tr>
        <td>Log Loss Reduction</td>
        <td>@Model.LogLossReduction</td>
      </tr>
      <tr>
        <td>Positive Precision</td>
        <td>@Model.PositivePrecision</td>
      </tr>
      <tr>
        <td>Positive Recall</td>
        <td>@Model.PositiveRecall</td>
      </tr>
      <tr>
        <td>Negative Precision</td>
        <td>@Model.NegativePrecision</td>
      </tr>
      <tr>
        <td>Negative Recall</td>
        <td>@Model.NegativeRecall</td>
      </tr>
    </tbody>
    </table>
</div>
