@page

@functions {
  public string? DayOfTheWeek { get; set; }
  public void OnGet()
  {
    ViewData["Title"] = "DummyRoster Web";
    Model.DayOfTheWeek = DateTime.Now.ToString("dddd");
  }
}

<div class="container p-3">

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Employee</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Employees on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Employees are registered in the system.</p>
      <a class="btn btn-primary" href="employee">Employees</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Employees
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Customer</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Customers on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Customers are registered in the system.</p>
      <a class="btn btn-primary" href="customer">Customers</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Customers
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Supplier</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Suppliers on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Suppliers are registered in the system.</p>
      <a class="btn btn-primary" href="supplier">Suppliers</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Suppliers
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Carrier</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Carriers on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Carriers are registered in the system.</p>
      <a class="btn btn-primary" href="carrier">Carriers</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Carriers
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Category</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Categories on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Categories are registered in the system.</p>
      <a class="btn btn-primary" href="category">Categories</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Categories
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Product</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Products on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Products are registered in the system.</p>
      <a class="btn btn-primary" href="product">Products</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Products
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Form</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Forms on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Forms are registered in the system.</p>
      <a class="btn btn-primary" href="form">Forms</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Forms
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>@ViewData["Title"] - Invoice</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Invoices on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Invoices are registered in the system.</p>
      <a class="btn btn-primary" href="invoice">Invoices</a>
    </div>
    <div class="card-footer text-muted">
      card concerning Invoices
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>Gathering</h2>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="gathering">gathering</a>
    </div>
  </div>

</div>